/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

body {
    position: relative;
}

#body {
    background: rgb(248,248,248);
    /*background: linear-gradient(90deg, rgba(55,25,93,1) 0%, rgba(252,69,251,1) 100%);*/
    /*color: white;*/
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}


label {
    font-weight: bold;
}

.navbar-link:hover{
    color: #0085A2 !important;
}

.navbar-link {
    font-size: larger;
    color: white !important;
}

.sidebar-link {
    font-size: larger;
}

